.btn-default.disabled {
    background-color: #0088ff !important; 
    color: #fff;
}

.headertab {
    background: #0088FF; 
    font-family: 'Roboto',sans-serif; 
    font-size: 24px; 
    font-weight: bolder;
    color: white;
    padding: 10px 1em;
    margin-bottom: 5px;
}

.has-feedback .form-control-feedback {
    position: absolute !important;
    top: 3px !important;
    /*right: 15px;*/
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

#ui-datepicker-div {
    z-index: 1200 !important;
}

.navbar {
    background-color:#0088ff;
    min-height:40px !important
}

.navbar-nav > li > a {
    padding-top:5px !important; 
    padding-bottom:5px !important;
}

.navbar-brand {
    float: left;
    height: 100px;
    /*padding: 14px 0px;
    font-size: 18px;
    line-height: 20px;*/
}
.navigation{
    float: right;
    padding-top:30px
}
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.listing-nopadding {
    padding:0px !important
}
.listing-nopadding-small {
    padding:0px !important;
    font-size: 14px;
}

.no-right-padding {
    padding-right: 0px !important;
}

.no-left-padding {
    padding-left: 0px !important;
}

.inherit-width {
    width: inherit !important;
}

.listing-row-no-padding {
    padding: 0px !important;
}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f48f00; /*#f3565d*/;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
