@using WFP.ICT.Web.Helpers
@model WFP.ICT.Data.Entities.Campaign

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        <ul class="nav nav-tabs">
            <li class="nav active"><a href="#divTesting" data-toggle="tab" id="tabTesting">Testing</a></li>
            <li class="nav"><a href="#divApproved" data-toggle="tab" id="tabApproved">Approved</a></li>
            <li class="nav"><a href="#divTracking" data-toggle="tab" id="tabTracking">Tracking</a></li>
            <li class="nav"><a href="#divRebroadcast" data-toggle="tab" id="tabRebroadcast">ReBroadcast</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="divTesting">
                
                    @Html.PartialFor(m => Model.Testing);
                
            </div>
           
            <div class="tab-pane fade" id="divApproved">
            
                <div class="form-horizontal">
                    <div class="headertab">
                        Campaign Approved
                    </div><hr />
                    
                </div>
            </div>
        
            <div class="tab-pane fade" id="divTracking">
            
            <div class="form-horizontal">
                <br />
                <h2>Edit Tracking</h2>
                <hr />
                <div class="headertab">
                    Campaign Approved
                </div><hr />
                
               
            </div>
                

        </div>
            
            <div class="tab-pane fade" id="divRebroadcast">

                <div class="form-horizontal">
                    <br />
                    <h2>Edit Rebroadcast</h2>
                    <hr />
                    <div class="headertab">
                        Campaign Rebroadcast
                    </div><hr />

                </div>


            </div>
        </div>
   
    </div>

<script type="text/javascript">

            var wfp = wfp || {};

            $(function () {

                $('#TestingTime').datetimepicker({
                    format: 'M/DD/YYYY hh:mm:ss A'
                }); 

                $('#BroadcastDate').datetimepicker({
                    format: 'M/DD/YYYY hh:mm:ss A'
                });

                $('#ReBroadcastDate').datetimepicker({
                    format: 'M/DD/YYYY hh:mm:ss A'
                });

                $('#ZipCodeFile').prop('readonly', "readonly");
                $('#HtmlImageFiles').prop('readonly', "readonly");
                $('#TestSeedList').prop('readonly', "readonly");
                $('#FinalSeedList').prop('readonly', "readonly");
                $('#SuppressionFile').prop('readonly', "readonly");

                $("input[name='IsTested']:checked").closest("label.btn").addClass("active");
                $("input[name='ReBroadCast']:checked").closest("label.btn").addClass("active");
                $("input[name='IsPersonalization']:checked").closest("label.btn").addClass("active");
                $("input[name='IsMatchback']:checked").closest("label.btn").addClass("active");
                $("input[name='IsSuppression']:checked").closest("label.btn").addClass("active");

                //// Javascript to enable link to tab
                //var url = document.location.toString();
                //if (url.match('#')) {
                //    $('.nav-tabs a[href="#' + url.split('#')[1] + '-tab"]').tab('show');
                //} //add a suffix

                //// Change hash for page-reload
                //$('.nav-tabs a').on('shown.bs.tab', function (e) {
                //    window.location.hash = e.target.hash;
                //    window.scrollTo(0, 0);
                //})
                debugger;
                var from = wfp.getURLParameter('from');
                $('#tab' + from).tab('show');

            });
</script>