@model string
@{
    ViewBag.Title = ViewBag.Title ?? "Success";
}

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><i class="fa fa-gift">Done!</i></h2>
                <p>Model</p>
            </div>
        </div>
    </div>
</div>


