@using System.Linq;
@using System.Security.Claims;
@using ADSDataDirect.Core.Entities
@using ADSDataDirect.Enums
@{
    var loggedInUser = Session["user"] as WfpUser;
    var isLoggedIn = loggedInUser != null;
    var isAdmin = loggedInUser != null && (loggedInUser.UserType == (int)UserType.Admin);
}

<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="navbar-brand">
					<a href="~/">
						@*<img src="~/images/en-standard.png" alt="Company Logo" class="img-responsive">*@
					</a>
				</div>
			</div>
			<div class="col-md-10">
				<div class="navigation">
					<div class="menu-button">
                        ADS Data Direct
					</div>
					<ul data-breakpoint="800" class="flexnav">
						@if (isLoggedIn)
                        {
                            var userIdentity = HttpContext.Current.User.Identity as ClaimsIdentity;
                            var roles = userIdentity.Claims.Where(x => x.Type == ClaimTypes.Role).Select(claim => claim.Value).ToArray();
                            var claims = userIdentity.Claims.Where(x => x.Type == ClaimTypes.UserData).Select(claim => claim.Value).ToList();
                            
                            <li class="active">
                                <a href="~/Campaigns">Orders</a>
                            </li>
                            <li class="active">
                                <a href="~/Status">Status</a>
                            </li>
                            <li class="active">
                                <a href="~/Tracking">Tracking</a>
                            </li>
                            if (isAdmin)
                            {
                                <li class="active">
                                    <a href="~/Notification">Notifications</a>
                                </li>
                            }
                            <li>
                                <a href="#">@HttpContext.Current.User.Identity.Name</a>
                                <ul>
                                    @if (isAdmin)
                                    {
                                        <li><a href="/Customer" title="Customer" class="animsition-link"><span class="glyphicon glyphicon-cog"></span> Customers</a></li>
                                        <li><a href="/Company/Users" title="Users" class="animsition-link"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                                        <li><a href="/Vendor" title="Vendors" class="animsition-link"><span class="glyphicon glyphicon-cog"></span> Vendors</a></li>
                                    }
                                    <li><a href="/Home/Settings" title="Settings" class="animsition-link"><span class="glyphicon glyphicon-lock"></span> Settings</a></li>
                                    <li><a href="/Account/LogOff" title="Logout" class="animsition-link"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
							<li>
								<a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
							</li>
						}

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
