@model ADSDataDirect.Web.Models.CampaignSearchVm

<div class="modal fade" id="searchModal" role="dialog" aria-labelledby="myModalLabel" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="frmSearchAdvanced" role="form" method="post">
                <input type="hidden" id="searchType" name="searchType" value="advanced" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Search Campaign</h4>
                </div>
                <div class="modal-body" id="model-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="orderedFrom">Status</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon"></span>
                                            </div>
                                            @Html.DropDownList("AdvancedStatus", null, htmlAttributes: new { @class = "form-control", @id = "advancedStatus" })
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="orderedFrom">Ordered by</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon"></span>
                                            </div>
                                            @Html.DropDownList("AdvancedUser", null, htmlAttributes: new { @class = "form-control", @id = "advancedUser" })
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="orderedFrom">Ordered From</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input id="orderedFrom" name="orderedFrom" type="text" class="form-control input-md" placeholder="From">
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="orderedTo">Ordered To</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input id="orderedTo" name="orderedTo" type="text" class="form-control input-md" placeholder="To">
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="broadcastFrom">Broadcast From</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input id="broadcastFrom" name="broadcastFrom" type="text" class="form-control input-md" placeholder="From">
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="broadcastTo">Broadcast To</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input id="broadcastTo" name="broadcastTo" type="text" class="form-control input-md" placeholder="To">
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="campaignName">Campaign Name</label>
                                        <div class="input-group" style="width: 100%;">
                                            <input id="campaignName" name="campaignName" type="text" class="form-control input-md" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="txtName">Tested?</label>
                                        <br />
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.IsTested, "True")Yes
                                            </label>
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.IsTested, "False")No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSearch">Search</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    var wfp = wfp || {};

    $(document).ready(function () {

        var form = $('form#frmSearchAdvanced');
        $('#searchModal').on('show.bs.modal', function (event) {
            debugger;
            //var drpUnit = $("#unit").select2({ dropdownParent: $('#searchModal') });
            //$("#dateFrom").datepicker({
            //    dateFormat: 'dd/mm/yy'
            //});
            //$("#dateTo").datepicker({
            //    dateFormat: 'dd/mm/yy'
            //});
            //drpUnit.val('').trigger("change");
            form[0].reset();
        });

        $("#orderedFrom").datepicker({
            dateFormat: 'mm/dd/yy'
        });
        $("#orderedTo").datepicker({
            dateFormat: 'mm/dd/yy'
        });
        $("#broadcastFrom").datepicker({
            dateFormat: 'mm/dd/yy'
        });
        $("#broadcastTo").datepicker({
            dateFormat: 'mm/dd/yy'
        });
        
        $('#btnSearch').click(function () {
            debugger;
            $('form#frmSearchAdvanced').submit();

            $('#searchModal').modal('hide');
        });
    });
</script>

