@model WFP.ICT.Web.Models.UserProfileVM

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="dashboard-page-head">
                    <div class="page-header">
                        <h1>My Profile <small>settings</small></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2 add-listing-dashboard">
                <div class="row">
                    <div class="col-md-12 dashboard-form">
                        <div class="bg-white pinside40 mb30">
                            <form id="frm" role="form">

                                <div class="form-group has-feedback">
                                    <label class="control-label" for="txtName">First Name<span class="required">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.FirstName, new { @id = "txtFirstName", @placeholder = "First name", @class = "form-control input-md", @required = "required" })
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group has-feedback">
                                    <label class="control-label" for="txtName">Last Name<span class="required">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.LastName, new { @id = "txtLastName", @placeholder = "Last name", @class = "form-control input-md", @required = "required" })
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group has-feedback">
                                    <label class="control-label" for="txtName">Office<span class="required">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-briefcase"></span>
                                        </div>
                                        @Html.DropDownListFor(model => model.OfficeID, Model.Offices, new { @class = "form-control input-md", @placeholder = "Office", @id = "drpOffice", @required = "required" })
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group has-feedback">
                                    <label class="control-label" for="txtName">Unit<span class="required">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-globe"></span>
                                        </div>
                                        @Html.DropDownListFor(model => model.UnitID, Model.Units, new { @class = "form-control input-md", @placeholder = "Unit", @id = "drpUnit", @required = "required" })
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="text-right">
                                                <button id="btnUpdateProfile" name="btnUpdateProfile" class="btn btn-default" type="submit">Update Profile</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#btnUpdateProfile').click(function () {
        debugger;
        
        var form = $("#frm");

                form.validator('validate').on('submit', function (e) {
                    debugger;
                    if (e.isDefaultPrevented()) {

                    } else {

                        e.preventDefault();
                        
                        var drpOfficeId = $('#drpOffice').find('option:selected').val();
                        var drpUnitId = $('#drpUnit').find('option:selected').val();

                        if (drpOfficeId === "") {
                            wfp.showError("Please select Office");
                            return;
                        }
                         
                        if (drpUnitId === "") {
                            wfp.showError("Please select Unit");
                            return;
                        }

                        var dataToPost = {
                            OfficeID: drpOfficeId,
                            UnitID: drpUnitId,
                            FirstName: $('#txtFirstName').val(),
                            LastName: $('#txtLastName').val(),
                        };

                        $.ajax({
                            type: "POST",
                            url: "/Home/UserProfile",
                            data: JSON.stringify(dataToPost),
                            contentType: "application/json; charset=utf-8",
                            success: function (response) {
                                debugger;
                                if (response === "") wfp.reload();
                                if (response.IsSucess) {
                                    wfp.showSuccess('Profile has been updated successfully.');
                                    wfp.redirectTo('/Home/Index');
                                } else {
                                    wfp.showError(response.ErrorMessage);
                                }
                            },
                            failure: function (response) {
                                wfp.showError('There is erorr in service call.');
                            },
                            complete: function () {
                            }
                        });
                        // everything looks good!
                    }
                }) //end validator
    });

</script>