@model WFP.ICT.Data.Entities.Campaign

<div class="modal fade" id="searchModal" role="dialog" aria-labelledby="myModalLabel" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="frmSearchAdvanced" role="form" method="post">
                <input type="hidden" id="searchType" name="searchType" value="advanced" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Search Campaign</h4>
                </div>
                <div class="modal-body" id="model-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="dateFrom">From</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input id="dateFrom" name="dateFrom" type="text" class="form-control input-md" placeholder="From">
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="dateTo">To</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input id="dateTo" name="dateTo" type="text" class="form-control input-md" placeholder="To">
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="campaignName">Campaign Name</label>
                                        <div class="input-group">
                                            <input id="campaignName" name="campaignName" type="text" class="form-control input-md" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="control-label" for="txtName">Tested?</label>
                                        <div class="btn-group" data-toggle="buttons" style="padding-top:10px">
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.IsTested, "True")Yes
                                            </label>
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.IsTested, "False")No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSearch">Search</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    var wfp = wfp || {};

    $(document).ready(function () {

        $("#dateFrom").datepicker({
            dateFormat: 'mm/dd/yy'
        });
        $("#dateTo").datepicker({
            dateFormat: 'mm/dd/yy'
        });
        
        $('#btnSearch').click(function () {
            debugger;
            $('form#frmSearchAdvanced').submit();

            $('#searchModal').modal('hide');
        });
    });
</script>

